[submodule "TheAbyss"]
	path = TheAbyss
	url = https://github.com/ertdfgcvb/TheAbyss.git
[submodule "Century"]
	path = Century
	url = https://github.com/REAS/CENTURY.git
[submodule "Ableton"]
	path = Ableton
	url = https://github.com/ghztomash/visuals_tutorial.git
